<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="mk">
<body>
<header class="p-3 text-bg-dark" th:fragment="header">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/io.png" style="width: 25px" alt="logo"/>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Молби</a></li>
        </ul>

    </div>

</header>
</body>
</html>
